apiVersion: apps/v1
kind: Deployment
metadata:
 name: timezone-converter
 namespace: ollamagpt
 labels:
   app: timezone-converter
spec:
 replicas: 1
 selector:
   matchLabels:
     app: timezone-converter
 template:
   metadata:
     labels:
       app: timezone-converter
   spec:
     containers:
     - name: timezone-converter
       image: jenkins-node-1:5000/timezone-converter:0.4.0 # Updated image
       ports:
       - containerPort: 7860
       imagePullPolicy: Always
