# update with required information and save it as
#   setup.config file

[redis]
host=
port=
password=
db=
decode_responses=
key_expire_secs=

[service]
PORT=8000
JWT_SECRET_KEY=
SRVC_SHARED_SECRET=
IDENTITY=
APP_SECRET_KEY=
CSRF_PROTECTION_KEY=
ENCRYPTION_KEY=text_encryption.key
