[psqldb]
host=PSQLHOST
port=5432
database=PSQLDB
user=PSQLUSER
password=PSQLPASS

[ai]
OLLAMA_HOST=OLLAMA_HOST_URL
LLM=OLLAMA_LLM

[service]
version=SEMVER

[otlp]
OTLP_ENDPOINT_URL=OTLP_URL
COLLECT_GPU_STATS=True
PRICING_JSON=pricing.json